*{
    padding: 0px;
    margin: 0px;
}
.header-size{
  font-size: 52px;
  line-height: 52px;
  color: #365656;
}
.pargraph{
  padding-top: 4%;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.pargraph-sub{
  padding-top: 2%;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.sub-header{
  font-family: 'Nunito', sans-serif;
  padding:8% 0 6% 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  color: #365656;
}
.nav-bar
{
    margin: 0 auto;
    padding: 1em 0em;
}
.nav-hero{
    display: flex;
    width: 100%;
    padding: 10px 0;
}
.container
{

    margin:auto 20px;
    display: flex;
    text-decoration: none;
}
.logo{
    color: #365656;
    align-self: center;
    font-size: 22px;
    font-weight: bolder;
}
.nav-contant{
    align-self: center;
    display: flex;
    flex: 0 0;
    list-style: none;
    padding: 0em 10em;
}
.nav-contant li{
    font-family: 'Nunito', sans-serif;
    padding: 0 2em;
}
:root {
    --searchbox-size: 20px;
    --searchbox-length: 12vw;
  }
  
  .search{
      margin-left: auto;
  }
  .searchbox {
      position: relative;
    background: #365656;
    height: var(--searchbox-size);
    border-radius: var(--searchbox-size);
    padding: 10px;
    width: auto;
    display: flex;
    align-items: center;
  }
  
  .searchbox a {
    color: rgb(255, 255, 255);
    width: var(--searchbox-size);
    height: var(--searchbox-size);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1;
    font-size: calc(var(--searchbox-size) * 0.6);
  }
  
  .searchbox input {
    position:absolute;
    right: 0px;
    border: none;
    background: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 80%;
    width: 0;
    padding: 10px;
    transition: 0.3s ease-in;
    height: var(--searchbox-size);
    border-radius: var(--searchbox-size);
  }
  .input-width {
    background: #365656 !important;
    width: 12vw !important;
  }
  .mobile-cot{
      display:flex;
      width: 83%;
  }
  @media (min-width:1400px) {
      .container{
          margin: auto;
          padding: 0;
          width: 1200px;
      }
    
    .mobile-cot{
        width: 86.5%;
    }
  }
  @media (max-width:900px) {
    .nav-contant{
        flex-direction: column;
        padding: 0;
    }

    .search{
        margin: auto;
    }
    .searchbox input {
        width: 90%;
        
      }
      .searchbox:hover > input {
        width: 90%;
      }
      .input-box:focus{
        width: 90%;
      }
      .searchbox {
        border-radius: 5px;
      }
    }
  /* top contant */
  .top-banner{
      height: 70vh;
      background-image: url("images/top-banner.png");
      background-position:center;
      background-size: cover;
      background-position: center;
      margin-bottom: 5%;
  }
  .Main-contant{
      width:35%;
      height: 16em;
      padding: 5%;
      margin: auto 0;
      background-color: rgba(255, 255, 255, 0.9);
      /* filter: blur(10px); */

  }
  .Main-contant h1{
    font-size: 52px;
    line-height: 52px;
    color: #365656;
    /* filter: blur(0px); */
  }
  .Main-contant p{
    padding-top: 4%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }

  /* part-2 */
  .client-set{
    background-color: #f4f6f6;
  }
  .client-cot{
    display: flex;
    height: 12em;
    text-align: center;
    font-family: 'Nunito', sans-serif;

    flex-direction: column;
  }
  .client-cot h1{
    margin: 2% 0;
  }
  .client{
      width: 95%;
      height: 10em;
      align-self: center;
      background-image: url("images/client1.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  #bar{
    display: none;
  }

  @media (max-width:900px) {
    .mar-0{
      margin: auto 0 !important;
    }
    .nav-bar {
      margin: 0 auto;
      padding: 1em 0em;
      }
      .container{
          position: relative;
      }
      .nav-hero{
        flex-direction: column;
        height: 50px;
        background-color: #f4f6f6;
        overflow: hidden;
      }
     .top-banner{
          height: 30vh;
          background-image: url("images/top-banner-mobile.png");
          background-size: cover;
          background-position:right
      }
    .Main-contant{
        margin:2% auto;
        width: 80%;
        height: auto;
        align-self: center;
    }
    .Main-contant > * {
       text-align: center;
    }
    .Main-contant h1 {
        font-size: 32px;
        line-height: 32px;
     }
     .Main-contant p {
        font-size: 12px;
        line-height: 12px;
     }
     .client-cot{
     height: 5em;
    }
    .client-cot h1{
      font-size: 16px;
    }
    .mobile-cot {
      display: flex;
      width: 90%;
      margin: 5% 0;
      align-items: center;
      align-self: center;
      flex-direction: column;
  }
  .nav-contant {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    align-self: center;
    margin: auto;
    gap: 5px;
    text-align: center;
    }
    .nav-contant li {
    font-family: 'Nunito', sans-serif;
    padding: 12px 2em;
    background-color: white;
    }
    .search{
      margin: 10px;
      width: 100%;
    }
    .input-box{
      background: #365656 !important;
      width: auto !important;
      padding: 10px !important;
      left: 25px !important;
    }
    .logo {
      display: flex;
      width: 95%;
      color: #365656;
      align-self: flex-start;
      font-size: 24px;
      font-weight: bolder;
     }
    #bar{
      display: flex;
      float: right;
      margin-left: auto;
    }
    .pad{
      padding: 2% 0 0 3%;
    }
  }

  /* part 3 */
  .deals-row{
    display: inline-flexbox;
    flex-wrap: wrap;
    gap: 12px;
  }
  .deals{
    margin-top:150px;
  }
  .deals-col{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    justify-content: flex-end;
  }
  .deals-hed{
    margin-left: 0;
    flex: 0 1 400px;
  }
  .deals-hed h1{
    font-size: 52px;
    line-height: 52px;
    color: #365656;
  }
  .deals-col h1{
    font-family: 'Nunito', sans-serif;
    padding:8% 0 6% 0;
    font-size: 24px;
    line-height: 24px;
    color: #365656;
  }
  .deals-col p{
    padding-top: 4%;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    
  }
  .deals-col img{
    width: 40px;
    padding-bottom: 5%;
    opacity: 0.8;
  }
  .deals-hed p{
    padding-top: 4%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }
  .badge{
    opacity: 1 !important;
  }
  @media (max-width:900px) {
    .deals{
      margin-top: 5%;
    }
    .deals-hed{
      margin-top: 6%;
      flex: 1 1 120px;
      align-self: center;
      text-align: center;
      justify-content: center;
    }
    .deals-row{
      flex-direction: column;
    }
    .deals-col{
      border: 1px solid rgb(54,86,86,0.3);
      display: flex;
      width: 80%;
      padding: 4%;
      align-self: center;
      text-align: center;
      justify-content: center;
      border-radius: 5px;
      margin: auto;
    }
    .deals-col h1{
      font-family: 'Nunito', sans-serif;
      padding:0;
      font-size: 18px;
      line-height: 18px;
      color: #365656;
    }
    .deals-col p{
      padding-top: 1%;
      font-family: 'Nunito', sans-serif;
      font-size: 14px;
    }
    .deals-col img{
     margin: auto;
    }
  }
  
  /* part -4 */
  .about-us{
    margin-top:150px;
  }
  .abouts-cot{
    flex-direction: column;
    background-image: url("images/abouts.png");
    background-size: cover;
    background-position: right;
  }
  .about-row1{
    display: flex;
    width: 100%;
    align-items: center;
  }
  .about-header{
    width: 45%;
  }
  .learn-more{
    display: flex;
    text-align: center;
    align-content: center;
    width: 180px;
    height: 60px;
    border-radius: 2px;
    margin-left: auto;
    background-color: #f4f6f6;
    border: 1px solid rgba(22, 83, 70, 0.1);
  }
  .learn-more:hover{
    box-shadow: 0px 0px 10px rgba(22, 83, 70, 0.253);

  }
  .learn-more a{
    text-decoration: none;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: rgb(0, 44, 35);
    margin: auto;
    text-align: center;
    align-self: center;
  }
  .about-row2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 60%;
  }
  .about-col{
    margin: 5% 8% 5% 0;
    flex: 2 0 270px;
    width: 30%;
  }
  .about-col h1{
    font-family: 'roboto', sans-serif;
  }
  .about-col h2{
    font-weight: bolder;
  }
  @media (max-width:900px) {
    .abouts-cot{
      background-position: center;
    }
    .about-row1{
      width: 90%;
      flex-direction: column;
      align-items: center;
      align-self: center;
      flex-direction: column;
      text-align: center;
    }
    .about-header{
      width:auto;
    }
    .learn-more{
     margin:15% auto;
    }
    .sub-header {
      padding: 2% 0 0% 0;
  }
    .about-row2{
      width: 90%;
      align-self: center;
      align-items: center;
      flex-direction: column;
    }
    .about-col{
      align-self: center;
      width: auto;
      margin: auto;
      padding: 10%;
      margin-bottom: 7%;
      flex: 2 0 100px;
      border-radius: 5px;
      box-shadow: 0 0px 5px rgb(194 212 212 / 1);
  }
}
/* part-5 */
    .products-set{
      margin-top: 5%;
    }
    .products{
      display: block;
    }
    .products-row1{
      display: flex;
      width: 100%;
      padding: 5% 0 2% 0;
    }
    .see-d{
      display: flex;
      align-items: center;
      margin-left: auto;  
      position: relative;      
    }
    .bg{
      width: 25px;
      height: 20px;
      background-color: #e1ecec;
      position: absolute;
      right: -10px;
      z-index: -1;
    }
    .see-butt{
      color: rgb(0, 44, 35);
      text-decoration: none;
      text-align: center;
      margin: auto;
      font-family: 'Nunito', sans-serif;
    }
    .see-d .fa{
      color: rgb(0, 44, 35);
      font-size: 20px !important;
      padding-left: 10px;
    }
    .products-row2{
      display: flex;
      width: 100%;
    }
    .sect{
      color: rgb(0, 44, 35) !important;
    }
    .aviable-products{
      display: flex;
      width: 100%;
      list-style: none;
      margin: 50px auto;
      color: #9ea7a7;
      flex: 0 0 100px;
      justify-content: center;
      margin-bottom: 10%;
    }
    .aviable-products li{
      cursor: pointer;
      margin: auto;
      padding:5% 30%;
      font-family: 'Nunito', sans-serif; 
  }
  .products-row3{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .products-col{
    width: 28%;
    height: 23em;
    background-color: #ecf1f1;
    position: relative;
    border-radius: 2px;
    margin-bottom: 20%;
    opacity: 0;
    display: none;
    flex-direction: column;
  }
  .shop{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: burlywood;
    position: absolute;
    top:-13px;
    right: 20px;
  }
  .shop .fa{
    font-size: 18px !important;
    margin: auto;
    color: white;
  }
  .products-col img{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -150px;
  }
  .products-header{
    font-size: 26px;
    line-height: 26px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 400;
    display: block;
  }
  .price{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0;
    align-self: center;
    justify-content: center;
    gap: 50px;
  }
  .products-price{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 400;
    padding:8% 0;
  }
  .sub-price{
    padding:8% 0;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 400;
    color: rgb(158, 158, 158);
    text-decoration: line-through;
  }
  @media (max-width:900px) {
    .aviable-products li {
      padding: 7% 10%;
  }
  .products-row3 {
    flex-direction: column;
  }
  .products-col {
    width: 95%;
    align-self: center;
    align-items: center;
    position:static;

  }
  .products-col img {
    display: flex;
    width: 100%;
    margin: auto;
    position:static;
  }
  .header-padding {
    padding: 12% 0 0% 0 !important;
  }
  }
  .header-padding{
    padding: 15% 0 6% 0
  }
  .review-bg{
    margin-top: 5%;
    background-color: #ecf1f1;
  }
  .review{
    padding: 5% 0 0 0 ;
  }
  .header-row1{
    margin-top: 5%;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .header-row2 img{
    display: flex;
    align-self: center;
    align-items: center;
    margin: auto;
    width: 50%;
    justify-content: center;
    text-align: center;
  }
  .header-row2{
    margin-top: 5%;
  }
  .active {
    opacity: 1;
    display: flex;
    animation: fadeIn 0.5s ease forwards;
  }  
  .review-bg{
    flex-direction: column;
  }
  @media(max-width:900px){
    .deals-hed h1 {
      font-size: 32px;
      line-height: 32px;
      color: #365656;
  }
    .header-size {
      font-size: 32px;
      line-height: 34px;
      color: #365656;
  }
  .pargraph-sub {
    padding-top: 2%;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
}
  }